{% extends "layout.html" %}

{% block title %}Dashboard{% endblock %}

{% block css_import %}
<link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
{% endblock %}

{% block body %}
  <h1 class="text-center"> {{ event['name'] }} </h1>
  <div class="row">
    <ul class="list-group col pr-0">
      <a href="/scheduler/{{ event['id'] }}/notes" style="text-align-last: justify;" class="list-group-item row justify-content-between">
        Anotações <span class="badge badge-primary badge-pill">{{ notes_count[0] }}</span>
      </a>
      <a href="/scheduler/{{ event['id'] }}/calendar" style="text-align-last: justify;" class="list-group-item row justify-content-between">
        Calendário <span class="badge badge-primary badge-pill">{{ dates_count[0] }}</span>
      </a>
      <a href="/scheduler/{{ event['id'] }}/todolists" style="text-align-last: justify;" class="list-group-item row justify-content-between">
        Afazeres <span class="badge badge-primary badge-pill">{{ todo_count[0] }}</span>
      </a>
      <a href="/scheduler/{{ event['id'] }}/documents" style="text-align-last: justify;" class="list-group-item row justify-content-between">
        Documentos <span class="badge badge-primary badge-pill">Em construção</span>
      </a>
    </ul>
  </div>
{% endblock %}