{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block css_import %}{% endblock %}

{% block body %}
  <h1 class="text-center">Simple Scheduler</h1>
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <div class="jumbotron">
      Bem-vindo! Este site irá te ajudar a organizar os seus eventos!
      Vamos começar? Primeiro, clique no botão de registro e crie uma conta
      caso não tenha uma! Caso já possua, faça o login e aproveite
      todos os benefícios do Simple Scheduler! 
      </div>
    </div>
  </div>
{% endblock %}