{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block css_import %}{% endblock %}

{% block body %}
  <h1 class="text-center">Simple Organizer</h1>
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <div class="jumbotron">
      Welcome! This website will help you organize your events!
      Let's start? First, click on the register button and create an account
      if you don't have one! If you already have one, login and enjoy
      all the benefits of Simple Organizer!
      </div>
    </div>
  </div>
{% endblock %}