{% extends "layout.html" %}

{% block title %}Dashboard{% endblock %}

{% block css_import %}
<link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
{% endblock %}

{% block body %}
  <h1 class="text-center">Your Notes | {{ event['name'] }}</h1>
  <div class="row">
    <div class="list-group col pr-0">
      <form class="mb-6 row" method="POST">
        <div class="input-group mb-3 mt-3 col p-0">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Note Name</span>
          </div>
          <input type="text" class="form-control rounded-right col w-50" aria-label="Name" name="name" aria-describedby="basic-addon1">
          <button type="submit" class="btn btn-primary col ml-3">Add</button>
        </div>
      </form>
      {% for note in notes %}
      <div class="row">
        <a href="/scheduler/{{ event['id'] }}/notes/{{ note['id'] }}/edit" class="list-group-item col-sm-10">
          <span class="">{{ note['name'] }}</span>
        </a>
        <form action="{{ url_for('remove_note') }}" class="col-sm-2 pl-3 pr-0 align-items-center container d-flex" method="POST">
          <input type="hidden" name="notepadid" aria-label="Notepadid" value="{{ note['id'] }}">
          <input type="hidden" name="eventid" aria-label="Eventid" value="{{ event['id'] }}">
          <button type="submit" class="btn btn-danger col align-self-center">Remove</button>
        </form>
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}