{% extends "layout.html" %}

{% block title %}Dashboard{% endblock %}

{% block css_import %}
<link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
<script language="JavaScript">
  function strike(index)
  {
    var ipt = document.getElementById('input'+index)
    if (ipt.style.getPropertyValue("text-decoration") == "line-through")
    {
      ipt.style.setProperty("text-decoration", "none");
    }
    else 
    {
      ipt.style.setProperty("text-decoration", "line-through");
    }
  }
</script>
{% endblock %}

{% block body %}
  <h1 class="text-center"> Notas | {{ event['name'] }} </h1>
  <div class="row">
    <ul class="list-group col pr-0">

      <form class="mb-6 row" method="POST">
        <div class="input-group mb-3 mt-3 col p-0">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Nome da Tarefa</span>
          </div>
          <input type="text" class="form-control rounded-right col w-50" aria-label="Name" name="name" aria-describedby="basic-addon1">
          <button type="submit" class="btn btn-outline-primary col ml-3">Adicionar</button>
        </div>
      </form>
      {% for item in todolist %}
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <input id="box{{ loop.index }}" type="checkbox" onclick="strike({{ loop.index }})"  aria-label="Checkbox for following text input" {% if item['complete'] == True %} checked {% endif %}>
          </div>
        </div>
        <input id="input{{ loop.index }}" type="text" class="form-control" value="{{ item['item'] }}" aria-label="Text input with checkbox">
        <form action="{{ url_for('remove_todolist') }}" method="POST">
          <input type="hidden" name="eventid" aria-label="Eventid" value="{{ event['id'] }}">
          <input type="hidden" name="todolistid" aria-label="Todolistid" value="{{ item['id'] }}">
          <button type="submit" class="ml-3 btn btn-outline-danger">Remover</button>
        </form>
      </div>
        
      {% endfor %}
    </ul>
  </div>
{% endblock %}