{% extends "layout.html" %}

{% block title %}Dashboard{% endblock %}

{% block css_import %}
<link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
{% endblock %}

{% block body %}
  <h1 class="text-center"> Notas | {{ event['name'] }} </h1>
  <div class="row">
    <ul class="list-group col pr-0">

      <form class="mb-6 row" method="POST">
        <div class="input-group mb-3 mt-3 col p-0">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Nome do Evento</span>
          </div>
          <input type="text" class="form-control rounded-right col w-50" aria-label="Name" name="name" aria-describedby="basic-addon1">
          <div class="form-group mb-0 ml-3"> <!-- Date input -->
            <input class="form-control" id="date" name="date" placeholder="DD/MM/YYYY" type="text"/>
          </div>
          <button type="submit" class="btn btn-outline-primary col ml-3">Adicionar</button>
        </div>
      </form>
      {% for note in notes %}
        <a href="/scheduler/{{ event['id'] }}/notes/{{ note['id'] }}" style="text-align-last: justify;" class="list-group-item row justify-content-between">
          {{ note['name'] }}
        </a>
        <form method="POST"><button type="submit" class="btn btn-danger">Danger</button></form>
      {% endfor %}
    </ul>
  </div>
{% endblock %}